<!DOCTYPE html>
<html lang="[en]">
    <head>
        <meta charset="UTF-8">
        <title>Minotaur</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <div id="header">
            <div class="group">
                <a href="/" id="logo" class="group"><img alt="Trafficland_logo" src="@routes.Assets.versioned("images/trafficland_logo.gif")"/></a>
            </div>
        </div>
        <div id="main-content">
            <div id="dma-list" class="main-col">
                <div class="dma-button-inactive">DMA0</div>
                <div class="dma-button-inactive">DMA1</div>
                <div class="dma-button-active">DMA2</div>
                <div class="dma-button-inactive">DMA3</div>
                <div class="dma-button-inactive">DMA4</div>
                <div class="dma-button-inactive">DMA5</div>
                <div class="dma-button-inactive">DMA6</div>
                <div class="dma-button-inactive">DMA7</div>
            </div>
            <div id="active-dma" class="main-col">
                <div class="feed">
                    <img src="http://tc01.bos.tl.com:8080/transcoder/frame.jpg?webid=1182&size=full" alt="1182">
                </div>
                <div class="feed">
                    <img src="http://tc01.bos.tl.com:8080/transcoder/frame.jpg?webid=1204&size=full" alt="1204">
                </div>
                <div class="feed">
                    <img src="http://tc01.bos.tl.com:8080/transcoder/frame.jpg?webid=1228&size=full" alt="1228">
                </div>
                <div class="feed">
                    <img src="http://tc01.bos.tl.com:8080/transcoder/frame.jpg?webid=1286&size=full" alt="1286">
                </div>
                <div class="feed">
                    <img src="http://tc01.bos.tl.com:8080/transcoder/frame.jpg?webid=406408&size=full" alt="406408">
                </div>
                <div class="feed">
                    <img src="http://tc01.bos.tl.com:8080/transcoder/frame.jpg?webid=407719&size=full" alt="407719">
                </div>
            </div>
            <div id="map-pane" class="main-col">Map Pane</div>
        </div>
        <ul id="footer" class="group">
            <li id="footer-copyright">TrafficLand &copy; 2017</li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Privacy Policy</a></li>
            <li><a href="/">Terms of Use</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </body>
</html>